/* General */

:root {

  --darkest: #1d1f23;
  --lightest: #fff;
  --bg: #c7c9c8;
  --fg: var(--darkest);
  --bdr: var(--bg);
  --input: var(--lightest);

  --field-size: 540px;
  --chipmunk-size: 60px;
  --chipmunk-offset: calc(
    (var(--field-size) - var(--chipmunk-size)) / 2
  );
  --shoo-size: 100px;
  --shoo-offset: calc(
    (var(--field-size) - var(--shoo-size)) / 2
  );
  --porch-size: 200px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #343741;
    --fg: #d8d4d7;
    --lightest: var(--fg);
    --bdr: var(--fg);
    --input: var(--darkest);
  }
}

@media (max-width: 549px) {
  :root {
    --field-size: 405px;
    --chipmunk-size: 45px;
    --shoo-size: 75px;
    --porch-size: 150px;
  }
}

@font-face {
  font-family: NotoSans;
  src: url(font/notosans-400.ttf);
  font-weight: 400;
}
@font-face {
  font-family: NotoSans;
  src: url(font/notosans-600.ttf);
  font-weight: 600;
}
@font-face {
  font-family: NotoSans;
  src: url(font/notosans-800.ttf);
  font-weight: 800;
}

body {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: 0;
  overscroll-behavior: none;
  background: var(--bg);
  color: var(--fg);
  font: 600 30px NotoSans;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  overflow: hidden;
}

button {
  font: inherit;
  background: #0021a5;
  color: var(--lightest);
  --bdr-width: 2px;
  width: calc(240px + 2 * var(--bdr-width));
  height: calc(60px + 2 * var(--bdr-width));
  border-radius: calc(30px + var(--bdr-width));
  border: solid var(--bdr-width) var(--bdr);
  outline: none;
  cursor: pointer;
  transition: opacity 0.6s;
}
button[disabled] {
  cursor: default;
  opacity: 0;
}

:where(section, .zone, .centered, .overlay) {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
  transform: scale(0);
  transition: transform 0.6s
      cubic-bezier(0.33, 0, 0.67, 0.67);
}
section.current {
  transform: scale(1);
  transition-timing-function:
      cubic-bezier(0.33, 0.67, 0.67, 1);
}

.zone {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 360px;
  padding: 20px;
}

p {
  text-align: left;
  font-size: 24px;
  margin-inline: 1em;
  margin-block: 1em;
  padding-left: 0.5em;
}
h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}

.capitalize {
  text-transform: capitalize;
}



/* Gameplay section */

.gameplay {
  flex-direction: row;
}

.field {
  position: relative;
  background: url(img/grass.png);
  background-size: cover;
  background-origin: border-box;
  height: var(--field-size);
  width: var(--field-size);
  overflow: hidden;
  outline: solid 2px var(--bdr);
  margin: 0 30px;
}

.porch {
  box-sizing: border-box;
  width: var(--porch-size);
  height: var(--porch-size);
  margin: calc(
    (var(--field-size) - var(--porch-size)) / 2
  );
  background: url(img/porch.png);
  background-size: cover;
  background-origin: border-box;
  border: solid 1px #555;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 15px 5px #0005;
}

.money {
  box-sizing: border-box;
  background: #fff;
  color: var(--darkest);
  width: calc(var(--chipmunk-size) * 0.8);
  height: calc(var(--chipmunk-size) * 0.5);
  margin: 0 calc(var(--chipmunk-size) * 0.1);
  border: solid 1px var(--darkest);
  font-size: calc(var(--chipmunk-size) * 0.2);
  font-weight: 400;
  flex-direction: column;
  line-height: 1.1;
}
.last-name {
  font-size: calc(var(--chipmunk-size) * 0.15);
}

.chipmunk {
  position: absolute;
  left: var(--chipmunk-offset);
  top: var(--chipmunk-offset);
  width: var(--chipmunk-size);
  height: var(--chipmunk-size);
  pointer-events: none;
  text-align: initial;
  z-index: 2;
}
.chipmunk.under {
  z-index: 0;
}
.chipmunk img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.chipmunk.flipped img:not(.ussr-pin) {
  transform: scaleX(-1);
}
.chipmunk .money {
  position: relative;
  z-index: 3;
  --lr-offset: 40%;
  --rotation: -30deg;
  left: var(--lr-offset);
  top: 40%;
  transform: rotate(var(--rotation));
}
.chipmunk.flipped .money {
  left: calc(-1 * var(--lr-offset));
  transform: rotate(calc(-1 * var(--rotation)));
}
.chipmunk :is(.top-hat, .ussr-hat) {
  top: calc(-0.084 * var(--chipmunk-size));
  --lr-offset: calc(0.542 * var(--chipmunk-size));
  width: calc(0.417 * var(--chipmunk-size));
  z-index: 3;
}
.chipmunk .monocle {
  top: calc(0.174 * var(--chipmunk-size));
  --lr-offset: calc(0.570 * var(--chipmunk-size));
  width: calc(0.250 * var(--chipmunk-size));
  z-index: 2;
}
.chipmunk .ussr-pin {
  top: calc(0.12 * var(--chipmunk-size));
  --lr-offset: calc(0.3 * var(--chipmunk-size));
  width: calc(0.3 * var(--chipmunk-size));
  z-index: 2;
}
.chipmunk .accessory {
  left: var(--lr-offset);
  height: auto;
}
.chipmunk.flipped .accessory {
  left: auto;
  right: var(--lr-offset);
}
.chipmunk:not(.rich) :is(.top-hat, .monocle) {
  opacity: 0;
}
.chipmunk:not(.communist) :is(.ussr-hat, .ussr-pin) {
  opacity: 0;
}

.shoo-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: var(--shoo-offset);
  top: var(--shoo-offset);
  width: var(--shoo-size);
  height: var(--shoo-size);
  pointer-events: none;
  z-index: 6;
  opacity: 0;
}
.shoo-indicator.active {
  opacity: 1;
  border-width: 0px;
}
.shoo-circle {
  --transition-time: 0.2s;
  box-sizing: border-box;
  border-radius: 50%;
  border: dotted #fff 6px;
  transition:
    width var(--transition-time) ease-out,
    height var(--transition-time) ease-out,
    opacity var(--transition-time) ease-in;
  width: 0;
  height: 0;
  opacity: 1;
}
.shoo-indicator.active .shoo-circle {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.side {
  width: 150px;
  text-align: center;
}
.side button {
  width: 100%;
}
.side.score-area {
  height: calc(var(--field-size) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 549px) {
  .gameplay {
    flex-direction: column;
  }
  .field {
    margin: 30px 0;
  }
  .side {
    width: var(--field-size);
    height: 90px;
    justify-content: space-between;
  }
  .side button {
    width: 150px;
  }
  .side.score-area {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .side .score-area > div {
    width: 150px;
  }
}

:is(.score-display, .total-display) {
  font-size: 36px;
  font-weight: 800;
}

.first-absent {
  display: none;
}



/* Non-gameplay sections */

input {
  font: inherit;
  width: 240px;
  text-align: center;
  padding-block: 12px;
  margin-block: 24px 96px;
  background: var(--input);
  color: var(--fg);
  border: solid 1.5px var(--fg);
  outline: none;
  cursor: pointer;
}

.zone {
  height: min(100%, 592px);
}
section.front .zone {
  height: auto;
  width: 300px;
}

div.result .score-area {
  line-height: 1.2;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

:is(.message-content, .explanation-content) {
  display: none;
}



/* Illustrations */

.illustration {
  box-sizing: border-box;
  --bdr-width: 3px;
  --size: calc(300px + 2 * var(--bdr-width));
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: solid var(--bdr-width) var(--bdr);
  background: url(img/grass.png);
  background-position: center;
  transform: scale(0.8);
  margin: -29px 0;
}
.illustration .chipmunk {
  --chipmunk-size: 60px;
  position: relative;
  left: 0; top: 0;
  transform: translate(-5px, -5px) scale(4);
  z-index: 3;
}
.illustration .money {
  background: var(--lightest);
  border-width: 0.75px;
  transform: scale(0.75) translateX(-22px)
      rotate(-15deg);
  z-index: 5;
}

.game-over :is(.accessory, .addition) {
  transition: opacity 2s ease-in 0.5s;
}
.game-over.fading-out :is(.accessory, .addition) {
  transition-timing-function: ease-out;
}
.addition {
  position: absolute;
  opacity: 0;
}
.addition.active {
  opacity: 1;
}

[src*="rolls"] {
  top: 80px;
  left: -80px;
  z-index: 1;
  width: 200px;
}
[src*="lambo"] {
  top: 95px;
  left: 85px;
  z-index: 2;
  width: 300px;
}
[src*="yacht"] {
  top: -175px;
  right: -40px;
  z-index: 0;
  width: 400px;
}

.illustration .message {
  position: absolute;
  box-sizing: border-box;
  z-index: 6;
  font-size: 24px;
  width: 100%;
  bottom: -4px;
  padding: 10px 20px;
  background: var(--bg);
  opacity: 0;
  transition: opacity 1s ease-in;
}
.illustration .message.active {
  opacity: 1;
}

.overlay {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  flex-direction: column;
  z-index: 6;
  background: var(--bg);
  transition: top 1s;
}
.overlay.active {
  top: 0;
  transition-delay: 1s;
}
.overlay .zone {
  justify-content: space-evenly;
}

:is(.win, .almost) p {
  font-size: 30px;
  text-align: center;
  padding-left: 0;
}
:is(.win, .almost) span {
  font-size: 36px;
}
