/* General */

:root {
  
  --darkest: #1d1f23;
  --lightest: #fff;
  --bg: #c7c9c8;
  --fg: var(--darkest);
  --bdr: var(--bg);

  --field-size: 540px;
  --chipmunk-size: 60px;
  --o: calc(
    (var(--field-size) - var(--chipmunk-size)) / 2
  );
  --porch-size: 108px;
  --mountain-lion-size: 360px;
  --mountain-lion-top: 210px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #343741;
    --fg: #d8d4d7;
    --lightest: var(--fg);
    --bdr: var(--fg);
  }
}

@media (max-width: 539px) {
  :root {
    --field-size: 360px;
    --chipmunk-size: 40px;
    --porch-size: 72px;
    --mountain-lion-size: 240px;
    --mountain-lion-top: 140px;
  }
}

@font-face {
  font-family: NotoSans;
  src: url(font/notosans-400.ttf);
  font-weight: 400;
}
@font-face {
  font-family: NotoSans;
  src: url(font/notosans-600.ttf);
  font-weight: 600;
}
@font-face {
  font-family: NotoSans;
  src: url(font/notosans-800.ttf);
  font-weight: 800;
}

body {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: 0;
  overscroll-behavior: none;
  background: var(--bg);
  color: var(--fg);
  font: 600 30px NotoSans;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

button {
  font: inherit;
  background: #0021a5;
  color: var(--lightest);
  --bdr-width: 2px;
  width: calc(240px + 2 * var(--bdr-width));
  height: calc(60px + 2 * var(--bdr-width));
  border-radius: calc(30px + var(--bdr-width));
  border: solid var(--bdr-width) var(--bdr);
  outline: none;
  cursor: pointer;
}

:where(section, .zone, .centered) {
  display: flex;
  align-items: center;
  justify-content: center;  
}

section {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
  transform: scale(0);
  transition: transform 0.6s 
      cubic-bezier(0.33, 0, 0.67, 0.67);
}
section.current {
  transform: scale(1);
  transition-timing-function:
      cubic-bezier(0.33, 0.67, 0.67, 1);
}

.zone {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 360px;
  padding: 20px;
}

p {
  text-align: left;
  font-size: 24px;
  margin: 1em;
  padding-left: 0.5em;
}
h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}



/* Gameplay section */

div.gameplay {
  position: absolute;
  background: url(img/grass.png);
  background-size: cover;
  background-origin: border-box;
  height: var(--field-size);
  width: var(--field-size);
  overflow: hidden;
  outline: solid 2px var(--bdr);
}

.porch {
  box-sizing: border-box;
  width: var(--porch-size);
  height: var(--porch-size);
  margin: calc(
    (var(--field-size) - var(--porch-size)) / 2
  );
  background: url(img/porch.png);
  background-size: cover;
  background-origin: border-box;
  border: solid 1px #555;
  pointer-events: none;
}
.porch.shaking {
  animation-name: shake-porch;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes shake-porch {
  0%, 50%, 100% {transform: translateY(0);}
  25% {transform: translateY(6px);}
  75% {transform: translateY(-6px);}
}

.money {
  box-sizing: border-box;
  background: #fff;
  color: var(--darkest);
  width: calc(var(--chipmunk-size) * 0.8);
  height: calc(var(--chipmunk-size) * 0.5);
  margin: 0 calc(var(--chipmunk-size) * 0.1);
  border: solid 1px var(--darkest);
  font-size: calc(var(--chipmunk-size) * 0.25);
  font-weight: 400;
}

.chipmunk {
  position: absolute;
  left: var(--o);
  top: var(--o);
  width: var(--chipmunk-size);
  height: var(--chipmunk-size);
  pointer-events: none;
  text-align: initial;
}
.chipmunk img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.chipmunk.flipped img {
  transform: scaleX(-1);
}
.chipmunk .money {
  position: relative;
  z-index: 1;
  --lr-offset: 40%;
  --rotation: -30deg;
  left: var(--lr-offset);
  top: 40%;
  transform: rotate(var(--rotation));
}
.chipmunk.flipped .money {
  left: calc(-1 * var(--lr-offset));
  transform: rotate(calc(-1 * var(--rotation)));
}

.mountain-lion {
  position: absolute;
  width: var(--mountain-lion-size);
  left: calc(var(--mountain-lion-size) * -1);
  top: var(--mountain-lion-top);
}
.mountain-lion img {
  width: 100%;
}
.mountain-lion .money {
  position: absolute;
  top: calc(0.14 * var(--mountain-lion-size));
  left: calc(0.9 * var(--mountain-lion-size));
  transform: rotate(-15deg);
}

.sidebar {
  justify-content: space-between;
  width: 900px;
}
.sidebar .half {
  width: 150px;
  text-align: center;
}
.sidebar button {
  width: 100%;
}

@media (max-width: 959px) {
  div.gameplay {
    position: relative;
  }
  .sidebar {
    width: var(--field-size);
    justify-content: space-around;
    margin-top: 30px;
  }
  .sidebar .half.time-area {
    width: 90px;
  }
}



/* Preliminary sections */

section.front .zone {
  width: 300px;
  height: 120px;
}

section.title .zone {
  height: min(100%, 592px);
}
.illustration {
  box-sizing: border-box;
  --bdr-width: 3px;
  --size: calc(300px + 2 * var(--bdr-width));
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: solid var(--bdr-width) var(--bdr);
  background: url(img/grass.png);
  background-position: center;
  transform: scale(0.8);
  margin: -29px 0;
}
.illustration .chipmunk {
  --chipmunk-size: 60px;
  position: relative;
  left: 0; top: 0;
  transform: translate(-5px, -5px) scale(4);
}
.illustration .money {
  background: var(--lightest);
  border-width: 0.75px;
  font-size: calc(var(--chipmunk-size) * 0.2);
  transform: scale(0.75) translateX(-22px)
      rotate(-15deg);
}
section.instructions .zone {
  height: 480px;
}



/* Game-over section */

div.result {
  height: 360px;
}
div.result .time-display {
  font-size: 60px;
  font-weight: 800;
}
