/* General */

:root {
  --bg: #97999c;
  --fg: #cdcfd3;
  --dark: #16171a;
  --light: #fff;
  --field-size: 540px;
  --chipmunk-size: 60px;
  --o: calc(
    (var(--field-size) - var(--chipmunk-size)) / 2
  );
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #4c4e51;
    --fg: #8a8c8f;
    --dark: #000;
    --light: #cdcfd3;
  }
}
@media (max-width: 539px) {
  :root {
    --field-size: 360px;
    --chipmunk-size: 40px;
  }
}

body {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: 0;
  overscroll-behavior: none;
  background: var(--bg);
  color: var(--dark);
  font: bold 30px Tahoma;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

button {
  font: inherit;
  border: none;
  background: #0021a5;
  color: var(--light);
  padding: 12px 24px;
  border-radius: 30px;
  box-sizing: border-box;
}

section {
  height: 100%;
  width:  100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section:not(.current) {
  display: none;
}

.zone {
  background: var(--fg);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 360px;
  padding: 20px;
}



/* Preliminary sections */

section.front .zone {
  width:  300px;
  height: 120px;
}

section.title .zone {
  height: 360px;
}

section.instructions .zone {
  height: 360px;
}



/* Gameplay section */

div.gameplay {
  position: absolute;
  background: url("img/grass.png");
  background-size: cover;
  height: var(--field-size);
  width:  var(--field-size);
  overflow: hidden;
}

.porch {
  box-sizing: border-box;
  width:  20%;
  height: 20%;
  margin: 40%;
  background: url("img/porch.png");
  background-size: cover;
  background-origin: border-box;
  border: solid 1px #555;
}

.chipmunk {
  position: absolute;
  left: var(--o);
  top:  var(--o);
  width:  var(--chipmunk-size);
  height: var(--chipmunk-size);
}
.chipmunk.has-money {
  background: #555;
}
.chipmunk > img {
  position: absolute;
  width:  100%;
  height: 100%;
}
.chipmunk.flipped > img {
  transform: scaleX(-1);
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
}
.sidebar > .half {
  width: 150px;
  text-align: center;
}
.sidebar button {
  width: 100%;
}
.sidebar button.play {
  background: #22884c;
}
.sidebar .time-area {
  color: var(--light);
}

@media (max-width: 959px) {
  div.gameplay {
    position: relative;
  }
  .sidebar {
    width: var(--field-size);
    justify-content: space-around;
    margin-top: 30px;
  }
  .sidebar > .half.time-area {
    width: 90px;
  }
}



/* Game-over section */

div.result {
  height: 360px;
}

button.again {
  width: 240px;
}
